{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<link rel='stylesheet' href='{% static "website/css/beastpage.css"%}'/>
</head>
<div class='beastheader'>
<table class='beastlinks'>
<tr>
<td rowspan="3"><img src='{% static "website/images/beastbanner.png" %}' class='beastimage'/></td>
<td>Recent Events</td>
</tr>
<tr>
<td><a href='/beast/rules/'>House Rules</a></td>
</tr>
<tr>
<td><a href='/beast/customs/'>Custom Content</a></td>
</tr>
</table>
</div>
<div class='beasttext'>
The begotten. Children. Beasts. Whatever one may call them, they are inexorably tied to the collective unconscious of humanity and its darkest nightmares. Wherever humanity goes, so too
do they with their varying ideas on what it means to be a monster. Some believe that a monster's nature should be embraced, the fetters of morality cast off and one's appetite indulged.
Others believe that the horror they bring to the world should remind others of its dangers, its frailty, and ultimately how to cope with such things. And others still believe that one's
Hunger should be managed properly, to minimize impact and ultimately turn destructive urges to good if at all possible.<br/><br/>
Playing a Beast on Metropolitan Midnight is a matter of realizing something very important. Specifically, even though a Beast may not have a statistic dictating what they can or cannot do,
you the player are their moral compass. Simply because you can play a destructive individual whose acts are disruptive to the game on an out of character basis (As opposed to a destructive
individual whose acts are not) it doesn't mean you should. The burden of responsibility still lies with the player, and you can decide just what you play.<br/><br/>
</div>
<table class='spheretable'>
<tr><th class='sphereinfo'>Sphere Info</th></tr>
<tr><td>Two major house rules exist for the Beast sphere. The first is that any Beast sating their hunger will always use a maximum satiety potential of five, unless they resort to murder. If
a Beast should choose to do so, they will have a maximum satiety potential of ten. This can be performed through the hunting system by either using +sate, or +sate/kill respectively. The
second house rule is that any players creating a Beast do not have to answer questions related to their usage of satiety. Rather, the character's player may choose any level from 3 dots
minimum to 7 dots maximum.
</table>
{% endblock %}