{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<link rel='stylesheet' href='{% static "website/css/magepage.css"%}'/>
</head>
<img src='{% static "website/images/Magelogo.png"%}' class='magelogo'>
<div class='mageheader'>Setting</div>
<div class='magebody'>New York City has long been a bastion of the Seers of the Throne, 
the Servants of the Exarchs controlling most of the city and all of its major mystical sites. 
However, roughly five years ago, everything changed. Most folks say the Seers simply up and left, 
while those who keep a closer eye on such things whisper of internal power struggles and the 
fallout from the Great Recession ruining most of their means of control. Still others say they're following orders from the Exarchs, 
and are lying low waiting for revelations from their Divine Masters.<br/><br/>

Regardless of the exact situation, two things are clear. The Seers of the Throne are a shadow of 
their former self in New York... And the city in its own way needed the Seers. With the Servants of the Exarchs 
fading into the background, things that should have remained under tight control have spun loose. 
Monsters locked away by the power of whole Pylons have been freed, Banishers who had been long 
since kept out of the city by servants of the General walk the streets, and strange supernatural 
occurrences have become increasingly common. The Pentacle Orders have a grand opportunity before 
them, the city is essentially theirs for the taking... If they have the power to take it, and the Wisdom to keep it.</div>

{% endblock %}