{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<link rel='stylesheet' href='{% static "website/css/bookpage.css"%}'/>
</head>
<div class='bookbody'>
The MUSH of course, uses the rules from varying Chronicles of Darkness gamelines. All but one are currently available through DrivethruRPG, an online store for tabletop RPG sourcebooks. Please note, that the book, 'Hunter the Vigil' does not yet have a full second edition book. Rather, there exists the first edition book and the book, 'Mortal Remains' which serves as a rules update to second edition in the interim between full editions. Similarly the books, 'Beast: The Primordial' and, "Demon: The Descent" were released following second edition's own release. Hence, it is inherently suited to the second edition ruleset.<br/><br/>
</div>
<table class='booktable'>
<tr><th align='left'>Purchaseable Books</th></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/168428/Chronicles-of-Darkness'>Chronicles of Darkness - Core (DrivethruRPG)</a></td></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/199275/Chronicles-of-Darkness-Hurt-Locker'>Chronicles of Darkness - Hurt Locker (DrivethruRPG)</a></td></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/123898/Vampire-The-Requiem-2nd-Edition'>Vampire: The Requiem - Second Edition (DrivethruRPG)</a></td></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/199280/Secrets-of-the-Covenants'>Vampire: The Requiem - Secrets of the Covenants (DrivethruRPG)</a></td></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/145541/Werewolf-the-Forsaken-2nd-Edition'>Werewolf: The Forsaken - Second Edition (DrivethruRPG)</a></td></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/181754/Mage-the-Awakening-2nd-Edition'>Mage: The Awakening - Second Edition (DrivethruRPG)</a></td></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/57209/Hunter-The-Vigil'>Hunter: The Vigil - First Edition (DrivethruRPG)</a></td></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/129193/Hunter-Mortal-Remains'>Hunter: Mortal Remains (DrivethruRPG)</a></td></tr>
<tr><td><a href='http://www.drivethrurpg.com/product/162443/Beast-The-Primordial'>Beast: The Primordial (DrivethruRPG)<br/></a></td></tr>
<tr><td><a href='http://drivethrurpg.com/product/189395/Promethean-the-Created-2nd-Edition'>Promethean: The Created - Second Edition (DrivethruRPG)<br/></a></td></tr>
<tr><td><a href='http://drivethrurpg.com/product/124155/Demon-The-Descent'>Demon: The Descent (DrivethruRPG)<br/></a></td></tr>
</table>
{% endblock %}