{% load static %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/website/images/evennia_logo.png" />
    <link rel='stylesheet' type='text/css' href='{% static "website/css/mainpage.css"%}'/>
    <title>{{game_name}}</title>
  </head>

  <body class='header' background='{% static "website/images/NYC Skyline night.jpg" %}'>
  <div class='headerdiv'>
    {% if request.user.is_staff %}
  <form action="{% url 'admin:index' %}">
    <input type="submit" value="Admin Interface" class='adminbutton'/>
  </form>
  {% endif %}
  {% if user.is_authenticated %}
  <form action="{% url 'logout' %}">
    <input type="submit" value="Log Out" class='logbutton'/>
  </form>
  {% else %}
  <form action="{% url 'login' %}">
    <input type="submit" value="Log In" class='logbutton'/>
  </form>
  {% endif %}
  <form action="/webclient">
<input type="submit" value="Webclient" class=clientbutton>
</form>
  <h1 style='text-align:center; line-height:5vh; font-size:40px;'><a href='/' class='mainlogo'><image src="{% static 'website/images/evennia_logo.png' %}" /></a><a href='/' class='mainheader'>Metropolitan Midnight</a></h1>
  <table class='linktable'>
  <tr>
  <td><a href='/territory' class='headerlinks'>Territory System</a></td>
  <td><a href='/booklist' class='headerlinks'>Books in Use</a></td>
  <td><a href='/character/' class='headerlinks'>Characters</a></td>
  </tr>
  </table>
  
  </div>
<div class='bodytext' style='font-family:arial;'>
  {% block content %}
  {% endblock %}
</div>
</html>
